VUE_APP_API=http://127.0.0.1:8091
VUE_APP_USER_PHOTO=/metawall-front/images/default-avatar.jpg
VUE_APP_USER_PHOTO_2=/metawall-front/images/alternate-avatar.jpg
VUE_APP_SIGN_BG=/metawall-front/images/sign-bg.png
